body{
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.navbar{
    display: flex ;


}
.list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.Pik{
    color: rgba(60, 218, 95, 1);
}
.trend{
    text-align: center;
    color: rgba(10, 38, 64, 1);
}
.from{
    background-color: rgba(242, 151, 31, 1);
    color: white;
    border: none;
}
.Shopnow{
background-color: rgba(24, 67, 99, 1);
color: white;
border: none;
}
.medical{
    text-align: center;
    color: rgba(10, 38, 64, 1);
}
.Get{
color: red;
}
.sectiongauche{
    display: flex;
}
.sec1gauche{
    width:50%
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec1droite{
    width: 50%;
}
.sec1gauche button{
    background-color: rgba(60, 218, 95, 1);
    color: white;
    width: 154;
    border: none;
height: 45;
top: 598px;
left: 65px;
border-radius: 10px;
gap: 10px;
padding: 10px;

}
.partie2 {
    
}
.partie2haut {
display: flex;
gap: 10px;
}
.partie2bas {
    display: flexs;
}
.vertt{
    background-color: rgba(60, 218, 95, 1);
    color: white;
}
.buy{
    border: none;
    color: rgba(24, 67, 99, 1);
    width: 180;
height: 40;
top: 221.81px;
left: 327.88px;
border-radius: 72px;

}
.partie4{
    display: flex;
}
.partie4gauche{
width: 50%;
}
.partie4droite{
width: 50%;
}
.partie3gauche{
    display: flex;
    flex direction: column;
    gap:10px;
}
.partie3droite{
    display: flex;
    flex direction: column;
    gap:10px;
}
.partie2basdroitegauche{
display: flex;
    flex direction: column;
    gap:10px;
}
.partie2basdroitegauche{
display: flex;
    flex direction: column;
    gap:10px;
}